.button{
  
  width: 30%;
  font-size: 18px;
  color: blue;
  
  
}

.bannière{
  display: flex;
  justify-content: center;
  margin-left: 900px;

  
}

.titre{
  color: blue;
  justify-content: center;
  display: flex;
  font-size: 60px;;
}

.App{
  background-color: rgb(202, 202, 204);
}